.myClass{
    background-color: greenyellow;
}

.myOtherClass{
    background-color: orangered;
}

.angular{
    background-color: orangered;
}

.react{
    background-color: lightskyblue;
}